[tool.poetry]
name = "stattik"
version = "0.1.0"
description = ""
authors = ["Kurtis Fields <kurtisfields@gmail.com>"]

[tool.poetry.dependencies]
python = ">=3.10,<3.11"
click = "^8.1.7"
loguru = "^0.7.0"
ariadne = "^0.20.1"
aiofiles = "^23.2.1"
python-frontmatter = "^1.0.0"
xmlschema = "^2.4.0"
lxml = "^4.9.3"
html5lib = "^1.1"
pydantic = "^1.10.9"
#pydantic = "^2.2.1"
aiosqlite = "^0.19.0"
SQLAlchemy = "^2.0.20"
uvicorn = {extras = ["standard"], version = "^0.23.2"}
PyYAML = "^6.0.1"
emoji = "^2.8.0"
Pygments = "^2.16.1"
python-dotenv = "^1.0.0"
beautifulsoup4 = "^4.12.2"
#reactivex = {version = "^4.0.0", allow-prereleases = true}
aioreactive = "^0.16.0"

markblocks = {path = "../markblocks",  develop = true}

[tool.poetry.dev-dependencies]
pytest = "^7.4.0"
#markblocks = {path = "../markblocks",  develop = true}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
stattik = 'stattik.management:cli'
